body {
    background: #3e4144;
}
.form {
    margin: 50px auto;
    width: 300px;
    padding: 30px 25px;
    background: white;
    box-shadow: 5px 10px 18px #23c483;
}
h1.login-title {
    color: #666;
    margin: 0px auto 25px;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
}
.login-input {
    font-size: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 25px;
    height: 25px;
    width: calc(100% - 23px);
}
.login-input:focus {
    border-color:#6e8095;
    outline: none;
}
.login-button {
    color: #fff;
    background: #55a1ff;
    border: 0;
    outline: 0;
    width: 100%;
    height: 50px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}
.link {
    color: #666;
    font-size: 15px;
    text-align: center;
    margin-bottom: 0px;
}
.link a {
    color: #666;
}
h3 {
    font-weight: normal;
    text-align: center;
}


button {
    --green: #1BFD9C;
    font-size: 15px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--green);
    background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%,transparent 60% , rgba(27, 253, 156, 0.1) 100%);
    color: var(--green);
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
   }
   
   button:hover {
    color: black;
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
   }
   
   button:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%,rgba(27, 253, 156, 0.1) 60% , transparent 100%);
   }
   
   button:hover:before {
    transform: translateX(15em);
   }




   
   .draw-border {
    box-shadow: inset 0 0 0 4px #58afd1;
    color: #58afd1;
    transition: color 0.25s 0.0833333333s;
    position: relative;
   }
   
   .draw-border::before, .draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: "";
    pointer-events: none;
    position: absolute;
    width: 0px;
    height: 0;
    bottom: 0;
    right: 0;
   }
   
   .draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
   }
   
   .draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px;
   }
   
   .draw-border:hover {
    color: red;
   }
   
   .draw-border:hover::before, .draw-border:hover::after {
    border-color: red;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
   }
   
   .draw-border:hover::before {
    transition-delay: 0s, 0s, 0.25s;
   }
   
   .draw-border:hover::after {
    transition-delay: 0s, 0.25s, 0s;
   }
   
   .btn {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: 500 17px "Roboto Slab", sans-serif;
    padding: .5em 1.7em;
    letter-spacing: 0.05rem;
   }
   
   .btn:focus {
    outline: 2px dotted #55d7dc;
   }
   